<h1>Stupid Coaching</h1>

<form action="/answer" method="get">
  <label>Ask your coach anything:</label>
  <br>
  <br>
  <input type="text" name="question" value="<%= params[:question] %>" placeholder="What is your question?">
  <input type="submit" value="Ask!">
</form>
