// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.answer {
  padding-top: 4px;
  background-color: #fff8cd;
  border-left: 6px solid #e6e6e6;
}

.question {
  padding-top: 4px;
  border-left: 6px solid #e6e6e6;
}

p {
  padding-left: 8px;
}

a {
  text-decoration: none;
}
